body{
    background-color: rgb(40, 34, 53);
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.Header{
    display: flex;
    background-color: rgb(19, 65, 106);
    font-family: Arial, Helvetica, sans-serif;
}

.MenuTop{
    display: flex;
    background-color: rgb(19, 65, 106);
    font-family: Arial, Helvetica, sans-serif;
}

.Menu{
    background-color: teal;
}

#pcfoto{
    width: 500px;
    height: auto;
}
